/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: #4062bb;
  /* color: #59c3c3; */
  color: #ebebeb;
  /* color: #f45b69;
  color: #52489c; */
  font-family: 'Roboto', sans-serif;
}
